Pycity school analysis
Based on the data gathered in the size_summary cell, Smaller school tend to have a higher average score in both reading and math compared to larger schools. 

Based on the data gathered in the spending_summary cell, As school budget decreases, average peformance in both reading a math improved compared to schools with larger budgets. This is suggesting that higher spending does not correlate with academic performance. Academic performance is likely associated with other factors outside of school resources.

In [52]:
# Standard init
import pandas as pd
from pathlib import Path 

# Files to load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Reading the data and storing it
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merge the data
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [53]:
# Total number of unique schools
total_schools = school_data_complete['school_name'].nunique()

# Total number of students
total_students = school_data_complete['Student ID'].nunique()

# Total budget (assuming "budget" is per school in the school_data)
total_budget = school_data_complete.groupby('school_name')['budget'].first().sum()

# Average math and reading scores
average_math_score = school_data_complete['math_score'].mean()
average_reading_score = school_data_complete['reading_score'].mean()

# Percentage passing math (assuming passing is a score >= 70)
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].count()['Student ID']
percent_passing_math = (passing_math / total_students) * 100

# Percentage passing reading (assuming passing is a score >= 70)
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].count()['Student ID']
percent_passing_reading = (passing_reading / total_students) * 100

# Percentage passing both math and reading
passing_both = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
].count()['Student ID']
percent_overall_passing = (passing_both / total_students) * 100

# Create a high-level summary DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing]
})

# Display the summary DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [54]:
# Group data by school to aggregate metrics
school_group = school_data_complete.groupby(['school_name', 'type'])

# Total students per school
total_students_per_school = school_group.size()

# Total budget per school (assuming each row has the total school budget, we use `.first()` to avoid duplication)
total_budget_per_school = school_group['budget'].first()

# Per student budget
per_student_budget = total_budget_per_school / total_students_per_school

# Average math score per school
average_math_score_per_school = school_group['math_score'].mean()

# Average reading score per school
average_reading_score_per_school = school_group['reading_score'].mean()

# % Passing Math (students with math score >= 70)
passing_math_per_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').size()
percent_passing_math = (passing_math_per_school / total_students_per_school) * 100

# % Passing Reading (students with reading score >= 70)
passing_reading_per_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name').size()
percent_passing_reading = (passing_reading_per_school / total_students_per_school) * 100

# % Overall Passing (students passing both math and reading)
passing_both_per_school = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
].groupby('school_name').size()
percent_overall_passing = (passing_both_per_school / total_students_per_school) * 100

# Create a summary DataFrame
school_summary = pd.DataFrame({
    "School Type": school_group['type'].first(),
    "Total Students": total_students_per_school,
    "Total School Budget": total_budget_per_school,
    "Per Student Budget": per_student_budget,
    "Average Math Score": average_math_score_per_school,
    "Average Reading Score": average_reading_score_per_school,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing": percent_overall_passing
})

# Display the summary DataFrame
school_summary.reset_index(inplace=True)  # To flatten the index
school_summary

,school_name,type,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,District,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,District,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,Charter,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,District,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,District,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,District,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,Charter,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,Charter,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,Charter,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,Charter,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [55]:
# Sort the schools by '% Overall Passing' in descending order
top_schools = school_summary.sort_values(by='% Overall Passing', ascending=False)

# Display the top 5 rows
top_schools.head()

,school_name,type,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
12,Thomas High School,Charter,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
13,Wilson High School,Charter,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [56]:
# Sort the schools by '% Overall Passing' in ascending order
bottom_schools = school_summary.sort_values(by='% Overall Passing', ascending=True)

# Display the top 5 rows (the bottom 5 schools based on overall passing rate)
bottom_schools.head()

,school_name,type,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
2,Figueroa High School,District,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
7,Huang High School,District,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
5,Hernandez High School,District,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
8,Johnson High School,District,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [57]:
# Grouping the data by 'school name' and 'grade' to calculate average math score per grade per school
average_math_score_by_grade = school_data_complete.groupby(['school_name', 'grade'])['math_score'].mean()

# Convert the Series to a DataFrame
average_math_score_by_grade = average_math_score_by_grade.reset_index()

# Renaming the column for clarity
average_math_score_by_grade = average_math_score_by_grade.rename(columns={'math_score': 'Average Math Score'})

# Display the DataFrame
average_math_score_by_grade

              school_name grade  Average Math Score
0      Bailey High School  10th           76.996772
1      Bailey High School  11th           77.515588
2      Bailey High School  12th           76.492218
3      Bailey High School   9th           77.083676
4     Cabrera High School  10th           83.154506
5     Cabrera High School  11th           82.765560
6     Cabrera High School  12th           83.277487
7     Cabrera High School   9th           83.094697
8    Figueroa High School  10th           76.539974
9    Figueroa High School  11th           76.884344
10   Figueroa High School  12th           77.151369
11   Figueroa High School   9th           76.403037
12       Ford High School  10th           77.672316
13       Ford High School  11th           76.918058
14       Ford High School  12th           76.179963
15       Ford High School   9th           77.361345
16    Griffin High School  10th           84.229064
17    Griffin High School  11th           83.842105
18    Griffin High School  12th           83.356164
19    Griffin High School   9th           82.044010
20  Hernandez High School  10th           77.337408
21  Hernandez High School  11th           77.136029
22  Hernandez High School  12th           77.186567
23  Hernandez High School   9th           77.438495
24     Holden High School  10th           83.429825
25     Holden High School  11th           85.000000
26     Holden High School  12th           82.855422
27     Holden High School   9th           83.787402
28      Huang High School  10th           75.908735
29      Huang High School  11th           76.446602
30      Huang High School  12th           77.225641
31      Huang High School   9th           77.027251
32    Johnson High School  10th           76.691117
33    Johnson High School  11th           77.491653
34    Johnson High School  12th           76.863248
35    Johnson High School   9th           77.187857
36       Pena High School  10th           83.372000
37       Pena High School  11th           84.328125
38       Pena High School  12th           84.121547
39       Pena High School   9th           83.625455
40  Rodriguez High School  10th           76.612500
41  Rodriguez High School  11th           76.395626
42  Rodriguez High School  12th           77.690748
43  Rodriguez High School   9th           76.859966
44    Shelton High School  10th           82.917411
45    Shelton High School  11th           83.383495
46    Shelton High School  12th           83.778976
47    Shelton High School   9th           83.420755
48     Thomas High School  10th           83.087886
49     Thomas High School  11th           83.498795
50     Thomas High School  12th           83.497041
51     Thomas High School   9th           83.590022
52     Wilson High School  10th           83.724422
53     Wilson High School  11th           83.195326
54     Wilson High School  12th           83.035794
55     Wilson High School   9th           83.085578
56     Wright High School  10th           84.010288
57     Wright High School  11th           83.836782
58     Wright High School  12th           83.644986
59     Wright High School   9th           83.264706

In [58]:
# Grouping the data by 'school name' and 'grade' to calculate the average reading score per grade per school
average_reading_score_by_grade = school_data_complete.groupby(['school_name', 'grade'])['reading_score'].mean()

# Convert the Series to a DataFrame
average_reading_score_by_grade = average_reading_score_by_grade.reset_index()

# Renaming the column for clarity
average_reading_score_by_grade = average_reading_score_by_grade.rename(columns={'reading_score': 'Average Reading Score'})

# Display the DataFrame
average_reading_score_by_grade

              school_name grade  Average Reading Score
0      Bailey High School  10th              80.907183
1      Bailey High School  11th              80.945643
2      Bailey High School  12th              80.912451
3      Bailey High School   9th              81.303155
4     Cabrera High School  10th              84.253219
5     Cabrera High School  11th              83.788382
6     Cabrera High School  12th              84.287958
7     Cabrera High School   9th              83.676136
8    Figueroa High School  10th              81.408912
9    Figueroa High School  11th              80.640339
10   Figueroa High School  12th              81.384863
11   Figueroa High School   9th              81.198598
12       Ford High School  10th              81.262712
13       Ford High School  11th              80.403642
14       Ford High School  12th              80.662338
15       Ford High School   9th              80.632653
16    Griffin High School  10th              83.706897
17    Griffin High School  11th              84.288089
18    Griffin High School  12th              84.013699
19    Griffin High School   9th              83.369193
20  Hernandez High School  10th              80.660147
21  Hernandez High School  11th              81.396140
22  Hernandez High School  12th              80.857143
23  Hernandez High School   9th              80.866860
24     Holden High School  10th              83.324561
25     Holden High School  11th              83.815534
26     Holden High School  12th              84.698795
27     Holden High School   9th              83.677165
28      Huang High School  10th              81.512386
29      Huang High School  11th              81.417476
30      Huang High School  12th              80.305983
31      Huang High School   9th              81.290284
32    Johnson High School  10th              80.773431
33    Johnson High School  11th              80.616027
34    Johnson High School  12th              81.227564
35    Johnson High School   9th              81.260714
36       Pena High School  10th              83.612000
37       Pena High School  11th              84.335938
38       Pena High School  12th              84.591160
39       Pena High School   9th              83.807273
40  Rodriguez High School  10th              80.629808
41  Rodriguez High School  11th              80.864811
42  Rodriguez High School  12th              80.376426
43  Rodriguez High School   9th              80.993127
44    Shelton High School  10th              83.441964
45    Shelton High School  11th              84.373786
46    Shelton High School  12th              82.781671
47    Shelton High School   9th              84.122642
48     Thomas High School  10th              84.254157
49     Thomas High School  11th              83.585542
50     Thomas High School  12th              83.831361
51     Thomas High School   9th              83.728850
52     Wilson High School  10th              84.021452
53     Wilson High School  11th              83.764608
54     Wilson High School  12th              84.317673
55     Wilson High School   9th              83.939778
56     Wright High School  10th              83.812757
57     Wright High School  11th              84.156322
58     Wright High School  12th              84.073171
59     Wright High School   9th              83.833333

In [59]:
# Define spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a new column in the DataFrame for spending ranges based on 'Per Student Budget'
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'], bins=spending_bins, labels=labels)

# Group the data by the 'Spending Ranges (Per Student)' and calculate the mean for each metric
spending_summary = school_summary.groupby('Spending Ranges (Per Student)', observed=False).agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'
})

# Display the summary DataFrame
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [60]:
# Define spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Use pd.cut to categorize spending based on the bins
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'], bins=spending_bins, labels=labels)

# Group by 'Spending Ranges (Per Student)' and calculate mean scores with observed=False to retain current behavior
spending_math_scores = school_summary.groupby("Spending Ranges (Per Student)", observed=False)["Average Math Score"].mean()
spending_reading_scores = school_summary.groupby("Spending Ranges (Per Student)", observed=False)["Average Reading Score"].mean()
spending_passing_math = school_summary.groupby("Spending Ranges (Per Student)", observed=False)["% Passing Math"].mean()
spending_passing_reading = school_summary.groupby("Spending Ranges (Per Student)", observed=False)["% Passing Reading"].mean()
overall_passing_spending = school_summary.groupby("Spending Ranges (Per Student)", observed=False)["% Overall Passing"].mean()

# Combine all these metrics into a single DataFrame for easy visualization
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display the summary DataFrame
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [61]:
# Define the size bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut to categorize school size based on the bins
school_summary['School Size'] = pd.cut(school_summary['Total Students'], bins=size_bins, labels=labels)

# Group by 'School Size' and calculate mean scores and passing percentages
size_math_scores = school_summary.groupby("School Size", observed=False)["Average Math Score"].mean()
size_reading_scores = school_summary.groupby("School Size", observed=False)["Average Reading Score"].mean()
size_passing_math = school_summary.groupby("School Size", observed=False)["% Passing Math"].mean()
size_passing_reading = school_summary.groupby("School Size", observed=False)["% Passing Reading"].mean()
size_overall_passing = school_summary.groupby("School Size", observed=False)["% Overall Passing"].mean()

# Combine the calculated metrics into a new DataFrame called 'size_summary'
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the 'size_summary' DataFrame
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [62]:
# Group the data by 'school name' and 'type' to calculate the required metrics
school_group = school_data_complete.groupby(['school_name', 'type'])

# Calculate total students per school
total_students_per_school = school_group.size()

# Calculate total budget per school
total_budget_per_school = school_group['budget'].first()

# Calculate per student budget
per_student_budget = total_budget_per_school / total_students_per_school

# Calculate average math and reading scores
average_math_score_per_school = school_group['math_score'].mean()
average_reading_score_per_school = school_group['reading_score'].mean()

# Calculate percentage of students passing math (score >= 70)
passing_math_per_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').size()
percent_passing_math = (passing_math_per_school / total_students_per_school) * 100

# Calculate percentage of students passing reading (score >= 70)
passing_reading_per_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name').size()
percent_passing_reading = (passing_reading_per_school / total_students_per_school) * 100

# Calculate percentage of students passing both math and reading
passing_both_per_school = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
].groupby('school_name').size()
percent_overall_passing = (passing_both_per_school / total_students_per_school) * 100

# Create the 'per_school_summary' DataFrame
per_school_summary = pd.DataFrame({
    "School Type": school_group['type'].first(),
    "Total Students": total_students_per_school,
    "Total School Budget": total_budget_per_school,
    "Per Student Budget": per_student_budget,
    "Average Math Score": average_math_score_per_school,
    "Average Reading Score": average_reading_score_per_school,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing": percent_overall_passing
})

# Display the per_school_summary DataFrame
per_school_summary

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,,
Bailey High School,District,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333